.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
}

.current-calc, .complet-Calc {
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    text-align: right;
    line-height: 50px;
    padding-right: 10px;
    margin-bottom: 10px;
    overflow: auto;
    
}

.button-calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}